@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/* Animation lumière sur le logo */
@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.animate-shine {
  animation: shine 2s infinite linear;
}
